@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr-Italic.otf') format('opentype');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/HelveticaNeueCyr-BoldItalic.otf') format('opentype');
  font-style: italic;
  font-weight: bold;
}

.wrapper {
  background: url('../img/background.jpg') no-repeat center;
  text-align: center;
}

/* NAV */
nav {
  background-color: #075291;
  position: relative;
}

.menu {
  display: inline-block;
  float: right;
  padding-right: 21px;
  font-family: 'HelveticaNeueCyr', Tahoma;
  font-size: 14px;
  text-align: center;
}

li {
  display: inline-block;
}

.menu--link {
  color: #60b5ed;
  display: inline-block;
  line-height: 36px;
  padding: 0 15px;
  text-decoration: none;
}

.menu--link:hover {
    background-color: #4eabda;
    color: #fff;
}

.menu--offers {
    color: #fff;
    display: inline-block;
    line-height: 36px;
    padding: 0 15px;
    text-decoration: none;
}

.menu--offers:hover {
    background: linear-gradient(to top, #2e7ac4, #50afdc);
    box-shadow: inset 0 0 1px 1px #60c8f9;
}

.menu--choice {
  display: inline-block;
  color: #fff;
  padding: 0 15px;
}

.choice--link {
  display: inline-block;
  color: #fff;
  line-height: 36px;
}

.menu--choice:hover {
    background: linear-gradient(to top, #2e7ac4, #50afdc);
    box-shadow: inset 0 0 1px 1px #60c8f9;
}

.icon {
  display: inline-block;
  position: relative;
  margin-right: 38px;
}

.icon--link{
  display: inline-block;
  position: absolute;
  border-left: 1px solid #56a2dc;
  margin: -20px 0 0 0;
  padding-left: 15px;
}

.icon--link
img {
 margin: auto;
}

nav::after {
  display: table;
  content: '';
  clear: both;
}

/* MAIN */

main {
  text-align: center;
  padding-top: 213px;
}

main
h1 {
  background: rgba(15, 15, 15, .5);
  color: #fff;
  display: block;
  font-family: 'HelveticaNeueCyr', Tahoma;
  font-size: 24px;
  line-height: 60px;
  margin: 0 auto;
  width: 560px;
}

.fb {
  display: inline-block;
  margin-top: 3px;
  padding-top: 30px;
  background: rgba(15, 15, 15, .5);
  height: 44px;
  width: 560px;
}

.button--fb {
  position: relative;
}

.fb--logo {
  display: inline-block;
  float: left;
  margin-left: 142px;
  background: linear-gradient(#344066 0%, #2b4576 10%, #354d8b 50%, #3e5696 100%);
  border-top: 1px solid #7789bb;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid #223c6d;
  height: 35px;
  width: 37px;
}

.fb--link {
  display: inline-block;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
    color: #fff;
    padding-top: 11px;
}

.button--fblogin {
  display: inline-block;
  float: left;
  margin-left: 0;
  background: linear-gradient(#344066 0%, #2b4576 10%, #354d8b 50%, #3e5696 100%);
  border-top: 1px solid #7789bb;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-family: 'HelveticaNeueCyr', Tahoma;
  border-left: 1px solid #4c64a2;
  height: 35px;
  width: 237px;
}

.fblogin--link {
  display: inline-block;
  line-height: 35px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.fblogin--link
.plaintext {
  font-weight: normal;
}

.fblogin--link
.arrow {
  font-family: Arial;
  font-size: 16px;
  margin-left: 24px;
}

.anketa {
  background: rgba(15, 15, 15, .5);
  color: #ccc;
  display: block;
  font-family: 'HelveticaNeueCyr', Tahoma;
  font-size: 14px;
  margin:-3px auto;
  padding-bottom: 19px;
  padding-top: 30px;
  width: 560px;
}

.type {
  background: #0f0f0f;
  border: 0;
  border-bottom: 1px solid #494947;
  color: #fff;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-bottom: 20px;
  padding-left: 18px;
  width: 258px;
}

form
p {
  font-size: 11px;
}

.ou {
  color: #999999;
  font-family: 'HelveticaNeueCyr', Tahoma;
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto 32px;
  text-transform: uppercase;
}

.ou::before {
  border-top: 2px solid #666;
  border-bottom: 2px solid #000;
  height: 0;
  width: 120px;
  display: inline-block;
  margin: 0 7px 2px 0;
  content: '';
}

.ou::after {
  border-top: 2px solid #666;
  border-bottom: 2px solid #000;
  height: 0;
  width: 120px;
  display: inline-block;
  margin: 0 0 2px 7px;
  content: '';
}

.type:hover {
  background: #1b5288;
  box-shadow: 0 0 3px 2px #4a83a6;
}

.check {
  padding-left: 182px;
}

.button--create {
  background: linear-gradient(to top, #2e7ac4, #50afdc);
  border: 0;
  color: #fff;
  display: inline-block;
  font-family: 'HelveticaNeueCyr', Tahoma;
  font-size: 14px;
  height: 35px;
  margin-bottom: 22px;
  margin-top: 22px;
  width: 149px;
}
